/* Styles go here */
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

body {

  padding-top: 45px;
}

html {
      box-sizing: border-box;
    }

    *, *::before, *::after {
      box-sizing: inherit;
      padding: 0;
      margin: 0;
}

.app {
      width: 960px;
      margin: 0 auto;
      padding: 20px;
}

nav ul {
      list-style: none;
      display: flex;
      background-color: black;
      margin-bottom: 20px;
}

nav ul li {
      padding: 20px;
}

nav ul li a {
      color: white;
      text-decoration: none;
}

    .current {
      border-bottom: 4px solid white;
}

h1 {
      margin-bottom: 10px;
}

p {
      margin-bottom: 15px;
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;
}

.navbar-dark .navbar-brand {
    color: #fff;
    font-size: 20px;
}

a {
    color: #1EAEDB;
    font-size: 20px;
}

